<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer class="border-top mt-5 py-3 bg-light">
        <div class="container">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                <div class="mb-2 mb-md-0">
                    <span class="text-muted">© 2026, ВУЦ при ЯГТУ</span>
                </div>

                <div class="mb-2 mb-md-0">
                    <span>Военный учебный центр при ЯГТУ</span>
                </div>

                <div class="text-muted small">
                    <a href="/" class="text-decoration-none text-muted me-3">
                        Главная
                    </a>
                </div>
            </div>
        </div>
    </footer>
</div>
